.hero-header {
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
}

.hero-header-highlight {
    color: #ff5733;
}

.hero_img {
    height: 200px;
    width: 360px;
    object-fit: cover;
}